body{
    background-color: #74bc44;
    font-family: 'roboto', sans-serif;
}

h1{
    text-align: center;
    padding-top: 20px;
}

h4{
    text-align: center;
}

p{
    text-align: center; 
    font-size: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px; 
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #74bc44;
    color: white;
    font-size: 18px;
    
}

input[type="button"]:hover{
    background-color: green;
    cursor: pointer;
}

.welcome-box{
    width: 700px;
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    padding-right: 100px;
    padding-left: 50px;
    transform: translateY(-15%);
}

.signup-box{
    display: inline-block;
    width: 360px;
    height: 615px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
}

.login-box{
    display: inline-block;
    width: 360px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border-radius: 3px;
    background-color: white;
}

.para-2{
    margin-left: 585px;
    margin-bottom: 600px;
    text-align: center;
    color: white;
    font-size: 15px; 
}

.para-2 a{
    color: whitesmoke;
}

.para-2 a:hover{
    color: white;
}