header{
    background-color: #74bc44;
    font-family: 'roboto', sans-serif;
}

body{
    /*background-color: #344a72;*/
    background-color: #74bc44;
    font-family: 'roboto', sans-serif;
    margin-left: 300px;
}

h1{
    color: whitesmoke;
}

h2{
    color: whitesmoke;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

input[type="button"]{
    background-color: whitesmoke;
    font-size: 25px;
    width: fit-content;
}

input[type="button"]:hover{
    cursor: pointer;
}

.logo{
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.menu{
    border-color: whitesmoke;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: fixed;
    left: 0;
    width: 225px;
}